<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Glowing Eyes Meme Generator</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/glowing.css' %}">
</head>
<body>

<div class="page-header">
    <h1><a href="/">Your image is ready:</a></h1>
</div>
 <div class="wrapper">

<img src="{{ processed_image_url }}"  alt="User image"/> <br />
     <p>    </p>
     <p>    </p>
  <div>
<a href="{{ processed_image_url }}" class="button2">Скачать картинку</a>
    </div>
</div>
</body>
</html>