{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/image_radio.css' %}">
    <link rel="stylesheet" href="{% static 'css/glowing.css' %}">
</head>
<body>
<div class="page-header">
    <h1><a href="/">Glowing Eyes Meme Generator</a></h1>
</div>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
    {% for field in form %}
       <div class="wrapper">
            <div class="field">
                 <lable for="{{field.id_for_lable}}" class="lable">{{field.html_name}}</lable>
                {{field}}
            </div>
       </div>
    {% endfor %}


    <div class="wrapper">
        <label>
            <input type="radio" name="substitude_type" value="eyes" checked>
            Substitude eyes
        </label>
        <label>
            <input type="radio" name="substitude_type" value="face" >
            Substitude face
        </label>
    </div>
    <div class="wrapper">
        <p>Pick your sparkle:</p>
        {% for img in sparkle_images %}
        <label>
          <input class="radio-img" type="radio" name="sparkle_type" value="{{ img }}">
          <img class="radio-button-image" src="static/images/{{ img }}">
        </label>
        {% endfor %}
    </div>
    <br />
    <div class="wrapper">
      <h4>Resizing options:</h4>
      <p> <input type="checkbox" name="resize_to_box" /> Resize to bounding box </p>
      <p> Resize ratio: <input type="number" name="resize_ratio" min="0.01" max="15" step="0.01" value="1"/></p>
    </div>

    <div class="wrapper">
        <p> <input type="checkbox" name="randomize_color" /> Randomize color
         <input type="checkbox" name="make_collage" /> Make collage</p>
    </div>
    <div class="wrapper">
      <button type="submit" class="button">Add glowing eyes</button>
    </div>
</form>
<div class="wrapper">
<img src="{% static 'images/sample.jpg' %}"  alt="Error"/>
</div>
</body>
</html>